<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style>

        </style>
    </head>

    <body>
        <h1>Brea's To Do List</h1>

        <form method="POST" action="{% url 'todo_app:add_item' %}">
            {% csrf_token %}
            <textarea placeholder="Type your to do item here" name="todo_text"></textarea>
            <button type='submit'>Submit</button>     
        </form>
       
        <div class="list">
            <ul>
            {% for item in list_items_dict %}
            <div class="list-item">
                <li>{{ item.todo_text }}</li>
                <p>{{ item.create_date }}</p>
            </div>
            {% endfor %}
            </ul>
        </div>
    </body>
</html>