:root {
  --light-blue: #cdedf6;
  --medium-blue: #a8dadc;
  --dark-blue: #10a1b4;
}

* {
  font-family: 'Muli',
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {}

/* * navigation bar */

header {
  display: flex;
  background-color: rgba(0, 0, 0, .6);
  max-height: 5vh;
  align-items: center;
  padding: 0 3%;
}

.nav-logo,
.nav-links {
  display: flex;
}

.nav-logo {
  flex: 1;
}

.nav-logo:hover {
  filter: opacity(60%);
}

.nav-links {
  align-content: flex-end;
  list-style: none;
}

.nav-link {
  padding-left: 20px;
  text-decoration: none;
  color: var(--light-blue);
}

.nav-link:hover {
  color: var(--dark-blue);
}

/* * Landing Page */

.landing-page {
  height: 90vh;
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  text-align: center;
  align-items: center;

}

.description {
  padding-top: 20vh;
}

.description h1 {
  font-size: 6rem;
  letter-spacing: 1rem;
  font-weight: 900;
}

.description p {
  padding-top: 30px;
  width: 50%;
  margin: auto;
  font-size: 1rem;
}

.cta {
  position: relative;
  margin-top: 30vh;
}

#moreButton {
  text-decoration: none;
  background-color: var(--dark-blue);
  color: var(--light-blue);
  border-radius: 50%;
  padding: 15px;
}

.container {
  background-color: red;
}