/* * {
    outline: 3px  solid red;
    
} */
body {
    background-color: darkslategray;
    font-family: 'Oxygen', sans-serif;
    color: white;
}
img.brand-logo {
    display: flex;
    justify-items: center;
    width: 50px;
    height: 50px;
    padding: 5px;
}
main {
    margin: 15px;
    padding: 10px;
}