* {
    font-family: 'Muli',
        sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 0 10px;
    display: flex;
    background-color: grey;
    width: 100vw;
    margin: auto;
    height: 50px;
    align-items: center;
}

.header_logo {
    flex: 1;
}

.nav_list {
    list-style: none;
    display: flex;
    width: 50vw;
    justify-content: space-around;
}

.nav_link {
    text-decoration: none;
}