
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* flex: 1 1 10em; */






}



.navigation{
    background-color: #15DBFF;
    display: flex;
    
    margin:0;
    padding: 0;

    padding-left: 0em;
  
    /* justify-content: flex-start; */
    align-items: center;
    justify-content: space-between;
    flex: 1 1 100%;
    
    

    
}

.navigation ul button {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    /* allows button to be but on the complete end of the parent */
    /* this is the reason why you stayed up */
    justify-content: center;
    /* margin-left: 1em;
    margin-right: 1em; */
    /* order: 6; */
    background:  blueviolet;
    cursor: pointer;
    /* margin-right: .3em; */
    /* width: 6em;
    height: 3em; */
    text-align: center;
    align-items: center;
    color: chartreuse;

}

.button button{
    width: 4em;
    color: floralwhite;
    
    /* display: flex; */
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    /* allows button to be but on the complete end of the parent */
    /* this is the reason why you stayed up */
    justify-content: flex-end;
     /* margin-left: 1em; */
    margin-right: 1em; 
    order: 6;
    background:  blueviolet;
    cursor: pointer;



}



.navigation ol {
    list-style-type: none;
    flex-direction: row;
    margin: 1em;
    /* margin-left: -10em; */
    padding: 0 0 0 0;
    /* border: 1em solid green; */
    justify-content: flex-start;
    justify-items:flex-start;

}

.navigation nav ul{
    
    /* box-sizing: border-box; */
    display: flex;

    /* width: 40em; */
    
    /* display: fl; */
    list-style-type: none;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: flex-start; */
    /* border: .5em solid red; */
    /* justify-content:flex-start; */ 
    flex: 1 1 100%;
    /* margin-left: 4em; */
    /* justify-content: space-evenly; */
    
    /* justify-content: flex-end; *
    fle/
    /* padding: 0;
    margin: 0; */
    
    /* margin: 50px; */
    /* float: right;
    text-align: center;
    width: 45% */
    /* flex: 1 1 100%; */
    

}


.active1 {
    /* cursor: pointer; */
    list-style-type: none;
    /* margin-left: .2em;
    margin-right: .2em; */
    /* color: pink; */
    /* background-color: rgba(241, 170, 206, .7); */
    order:2;
    flex: 1 1 100%;
    /* justify-content: flex-start; */
    cursor: pointer;
    
}

.active2 {
    /* background-color: hotpink; */
    order:3;
    flex: 1 1 100%;
}

.active3 {
    /* background-color: hotpink; */
    order:4;
    flex: 1 1 100%;
}

.active4 {
    /* background-color: hotpink; */
    order:5;
    flex: 1 1 100%;
    /* justify-content: flex-end; */
}





.logo img{
    width: 30px;
    /* margin-left: 0; */
    margin-top: .5em; 
    margin-right: .8em; 
    /* flex: space-evenly; */
    justify-content: center;
    /* text-align: justify */


}

.logo b{
    color: #7734EA;
    justify-content: space-evenly;
    /* text-align: center; */
    padding: 0;
    border: 0;

}

/* 
.order1 {
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    text-overflow: ellipsis;
    
} */

.logo {
    order: 1;
}








.heading ul {
    margin: 0;
    padding: 0;
    border: 2px dashed red;
    display: flex;
    list-style-type: none;
    flex: 1 1 10em;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(241, 170, 206, .8);
}

.heading li {
    text-align: center;
    margin: .5em;
    padding: .5em;
    flex-direction: column;
    background-color: #FF005C;

}

.container {
    /* width: 400px;
    height: 500px; */
    margin: 0;
    padding: 0;
    

} 

.container ul {
    
    margin: 0;
    padding: 0;
    border: .5em dotted green;
    
    display: flex;
    list-style-type: none;
    flex: 1 1 10em;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 25emem;
    width: 25em; */
    justify-content: space-evenly;
    /* text-align: justify; */

}

.container ul li {
    margin: 0.5em;
    padding: 0.5em;
    border: 1em dotted greenyellow;
    text-align: center;
    width: 33.3333%;
    flex-direction: row;

    


}


.body:nth-child(1) .order1:nth-child(1)
{
    background: #006FFF;
}

.body:nth-child(1) .order1:nth-child(2)
{
    background: #13F4EF;
    
}

.body:nth-child(1) .order1:nth-child(3)
{
    background: #68FF00;
    
}

.body:nth-child(1) .order1:nth-child(4)
{
    background:#FAFF00;

    
}

.body:nth-child(1) .order1:nth-child(5)
{
    background: #FF00FF;
    
}

.body:nth-child(1) .order1:nth-child(6)
{
    background: #FFBF00;
    
}

