{%extends 'main_app/base.html' %}

{%block content%}
    <style>
        li {
            list-style: none;
        }

        #color {
            border: 2px dotted chartreuse;
            padding: 1em;
            
        }

        hr {
            border-color:white;

        }

        #borderr {
       
        }

        body {
            margin:0;
            padding: 0;
        }

        #review {
            word-wrap: break-word;
        }
    </style>

    <br>
    <br>
    <body>
        <div class="row text-white container col-md-12" id="borderr">
            <div class="col-md-9 container">
                <h1 class="text-center">Business Complaints</h1>
        
                <br>
                <ul>
                    {% for complaint in object_list%}
                        <div id="color" class="container-fluid col-md-9">
                            <h3> <a href="{% url 'complaints' complaint.pk%}">{{complaint.title}}</a></h3>
                            <li>
                                <p>Business: {{complaint.business}} - {{complaint.address}}</p>
                                <br/> 
                                <p>Contact : {{complaint.phone}} - {{complaint.email}}</p>
                                <br/>
                                <div id="review">Complaint: {{complaint.review}}</div>
                                <hr>
                                <small class="text-white"> Created on {{complaint.date}} by {{complaint.name}}</small>
                            </li>
                        </div>
                    <br>
                    {%endfor%}
                    <button class="btn btn-outline-primary"><a href="{% url 'home' %}">Back</a></button>
                </ul>
                <!-- <button class="btn btn-outline-primary"><a href="{% url 'home' %}">Back</a></button> -->

            </div>
            

            {% if user.is_authenticated%}
                <div id="sidebar" class="col-md-3 mb-1 container-fluid">
                    <div class="content-section container-fluid">
                           
                        <p class="muted-text" id="sidebarr">
                            <ul class="list-group">
                                <small class="text-muted">
                                    <li class="list-group-item list-group-item-primary"><h6 class="display-6">What you've missed</h6></li>
                                        <!-- <li class="list-group-item list-group-item-dark">Announcements</li> -->
                                        <li class="list-group-item list-group-item-warning"><a href="{% url 'people'%}">Person Complaints</a></li>
                                        <li class="list-group-item list-group-item-warning"><a href="{% url 'complaint'%}">Business Complaints</a></li>
                                        <li class="list-group-item list-group-item-warning"><a href="https://mercatuspdx.com/directory/black-owned-businesses/#!directory/ord=rnd">BIPOC Businesses</a></li>
                                </small>
                            </ul>
                        </p>
                    </div>
                </div>
                
                <!-- </div> -->
            
            {%else%}
                <h1>Please login or create an account to create a complaint</h1>
                <button class="btn btn-outline-primary"><a href="{%url 'login'%}"></a></button>
    
            {%endif%}
        
        </div>
 





        
    </body>

{% endblock content%}
