<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>To Do list</h3>


    <form method="POST" action="/">
        {% csrf_token %}
        {{form.item}}
        <input type="submit" name="Create Item">
    </form>
    {% for thing in items %}
        <div>
            <p>{{thing}}</p>
            <!-- <p>{{form}}</p> -->
        </div>

    {% endfor %}
    
</body>
</html>
