<h3> Update Task</h3>

<form method="POST" action="">
    {%csrf_token%}

    {{form}}
    <input type="submit" name="update item">

</form>

<style>
    body {
        display: flex;
        flex-direction: column;
        background-color: green;
        height: 100vh;
        width: 100vw;
        padding: 0px;
        margin: 0px;
        border: 10px greenyellow dashed;
        

    }
    h2 {
        background-color: yellow;
        align-items:center;
        align-content: center;
        text-align: center;
    }
        
        

    h3 { background-color: yellow;
        text-align: center;
      
    
    }

    div {
        font-size: larger;
        color: yellow;
    }
   
    input {
        width: 15.5vh;
        margin: 1px;
        color: yellow;

    }

