
{% extends "main_app/base.html" %}

{%load static %}


{% block content %}

    <style>
        body {
            
            /* background:whitesmoke; */
            
        }
        .col {
          
        }
        
        #sidebar{
            margin-left: 40em;
            margin-top: -1em;
            margin-right: -1em;
            
        
        
            padding: 0;
            
            

        }

        .list-group {
            padding: 0;
            margin: 0;
            
        }
        #sidebarr {
       

            /* height: 5vh; */
        }
        #slide {
            /* margin-left: 1em;
            margin-right: -6em; */
            /* justify-self: center;
            justify-content: center;
            justify-items: center; */
            
            background-color: black;
            padding:0;
            margin: 0;
          
            

        }


        #cardbody {
            margin:.5em;
            padding: .5em;
        }
        img {
            width: 5vw;
            height: 35vh;
            padding: 0;
            margin: 0;
            object-fit: cover;
            
        }

        #card-image {

            padding: 0;
            margin: 0;
            
        }

        #card-text {
            text-overflow: ellipsis;

        }

        #active {
            
            padding: 0;
            margin: 0;
   

        }

        #gutters {
            

            padding: 0;
            margin: 0;
            

        }

        #inner {
          
            padding: 0;
            margin: 0;
            
            

        }

        #card {
            
            padding: 0;
            margin: 0;




        }
        #row{
            
            margin: 0;
            padding: 0;
            
          
        }
    </style>

    
    

    
    
    <br>
    
        <!--make carousel a strip: width: 100% height: 25%-50%  -->
    <div class="row" id="row" style="height: 70vh; width: 70vw;">
        <div class="col">
            <div id="slide" class="carousel slide" data-ride="carousel"  style="height: 77vh; width: 75vw;">

                <ol class="carousel-indicators">
                
                    <li data-target="#slide" data-slide-to="0" class="active"></li>

                    {%for blog in posts %}
                    
                    
                        <li data-target="#slide" data-slide-to="{{blog.pk}}"></li>
                    {%endfor %}
                </ol>



                <div class="carousel-inner" id="inner" style="max-height:65vh; max-width:80vw;">
                    <div class="carousel-item active" id="active" style="max-height: 65vh; max-width:80vw;">
                    

                        <div class="card text-white bg-dark mb-3" style="max-width:100px;" id="card">
                            <div class="row no-gutters" id="gutters">
                                <img src="{%static 'media/cover.jpg' %}" class="card-img-top" alt="Blog Photo" id="img"/>
                            </div>
                    
                        </div>
    
                
                        <div class="card-body text-white text-wrap" id="cardbody">
                                    <!-- insert a variable for Blog so   that the most recent blogs are shown-->
                            <a href="#"><h1 class="display-3">cftyf</h1></a>
                            <small class="text-muted text-wrap">
                                {% for blog in posts%}
                                    {%if blog.pk == 1 %}:
                                        <p>{{blog.date}}</p>
                                    {%endif%}
                                {%endfor%}
                            </small>
                            <p class="card-text">uhuii igdiug hh iguiagdygdyugduygyqgdyigqi</p>
                                      <!-- insert a variable for "" so   that the timelapmedse is shown-->
                        </div>
                    </div>
                    
                
                


                    {%for blog in posts%}
                        <div class="carousel-item" id="active">
                    

                            <div class="card text-white bg-dark mb-3" style="max-width:100vw;" id="card">
                                <div class="row no-gutters" id="gutters">
                                <!-- <div class="col-md-2" id="card-image"> -->
                                    <img src="{%static 'media/cover.jpg' %}" class="card-img-top" alt="Blog Photo" id="img"/>
                                </div>
                            </div>


                            <!-- <div class="col-md-4"> -->
                            <div class="card-body text-wrap"id="cardbody">
                                <!-- insert a variable for Blog so   that the most recent blogs are shown-->
                                <a href="#"><h1 class="display-3">{{blog.author}}</h1></a>
                                <small class="text-muted">{{blog.date}}</small>
                                <p class="card-text">{{blog.content}}</p>
                                  <!-- insert a variable for "" so   that the timelapmedse is shown-->
                            </div>
                        </div>
                    
                    {%endfor %}
                


                    <a class="carousel-control-prev" href="#slide" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </a>
                    <a class="carousel-control-next" href="#slide" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </a>
                
                </div>

            </div>
        

        
        </div>
    
        
        

    
        
        {% if user.is_authenticated%}
            <div class="col">
                <div id="sidebar" class="col-md-4">
                    <div class="content-section ">
                       
                        <p class="muted-text" id="sidebarr">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-info"><h6 class="display-6">What you've missed</h6>
                                    <!-- <li class="list-group-item list-group-item-dark">Announcements</li> -->
                                    <li class="list-group-item list-group-item-dark">Posts</li>
                                    <li class="list-group-item list-group-item-dark">Business Complaints</li>
                                    <li class="list-group-item list-group-item-dark">BIPOC Businesses</li>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- </div> -->
        
        {%else%}
            <div class="col">
                <div id="sidebar" class="content-section float-right">
                    <h6 class="display-6">What you've missed</h6>
                        <p class="muted-text" id="sidebarr">
                            <ul class="list-group">
                                <!-- <li class="list-group-item list-group-item-dark">Announcements</li> -->
                                <li class="list-group-item list-group-item-dark">Business Complaints</li>
                                <li class="list-group-item list-group-item-dark">BIPOC Businesses</li>
        
                            </ul>
                        </p>
                </div>
            </div>
        {%endif%}
    </div>
    
    
    <br>

{%endblock content %}