
{% extends "main_app/base.html" %}

{%load static %}


{% block content %}

    <style>
        /* body {
            
            background:black;
            
        } */
        
        
        #sidebar{
            /* margin-left: 40em;
            margin-top: -1em;
            margin-right: -1em;
            
        
        
            padding: 0; */
            /* height: 50vh; */
            
            

        }

        .list-group {
            padding: 0;
            margin: 0;
            
        }
        #sidebarr {
            

            /* height: 5vh; */
        }
        #slide {
            /* margin-left: 1em;
            margin-right: -6em; */
            /* justify-self: center;
            justify-content: center;
            justify-items: center; */
/*             
            background-color: black; */
            padding:0;
            margin: 0;
            height: 80vh;
          
            

        }


        #cardbody {
            /* margin:.5em;
            padding: .5em; */
            /* height: 200vh;
            background-color:chartreuse; */
        }
        img {
            /* width: height: 50vh; */
            height: 30vh;
            padding: 0;
            margin: 0;
            /* object-fit: cover; */
            
        }

        #card-image {

            padding: 0;
            margin: 0;
            /* height: 50vh; */
        }

        #card-text {
            text-overflow: ellipsis;    
            
           

        }

        #active {
            
            padding: 0;
            margin: 0;
            height: 100vh;

        }

        #gutters {
            

            padding: 0;
            margin: 0;
            

        }

        #inner {
          
            padding: 0;
            margin: 0;
            height:100vh;
            
            

        }

        #card {
            
            padding: 0;
            margin: 0;
            height: 80vh;



        }
        #row{
            
            margin: 0;
            padding: 0;
            
          
        }
    </style>

    
    

    
    
    <br>
    
        <!--make carousel a strip: width: 100% height: 25%-50%  -->
    <div class="row container-fluid" id="row" >
        <!-- <div class="row container-fluid"> -->
        <div id="slide" class="carousel slide col-md-10" data-ride="carousel">

            <ol class="carousel-indicators">
                
                <li data-target="#slide" data-slide-to="0" class="active"></li>

                {%for blog in posts %}
                    
                    
                    <li data-target="#slide" data-slide-to="{{blog.pk}}"></li>
                {%endfor %}
            </ol>



            <div class="carousel-inner container-fluid" id="inner">
                <div class="carousel-item active container-fluid" id="active">
                    

                    <div class="card text-white bg-danger mb-2 container-fluid" id="card">
                        <div class="row no-gutters" id="gutters">
                            <img src="{%static 'media/cover.jpg' %}" class="card-img-top" alt="Blog Photo" id="img"/>
                        </div>
                    
                        
    
                
                        <div class="card-body text-white container-fluid col-md-4" id="cardbody">
                                    <!-- insert a variable for Blog so   that the most recent blogs are shown-->
                            <a href="#"><h1 class="display-3">cftyf</h1></a>
                            <small class="text-white">
                                {% for blog in posts%}
                                    {%if blog.pk == 1 %}:
                                        <p>{{blog.date}}</p>
                                    {%endif%}
                                {%endfor%}
                            </small>
                            <p class="card-text">uhuii igdiug hh iguiagdygdyugduygyqgdyigqi</p>
                                      <!-- insert a variable for "" so   that the timelapmedse is shown-->
                        </div>
                    </div>
                </div>
                    
                
                


                {%for blog in posts%}
                    <div class="carousel-item container-fluid" id="active">
                    

                        <div class="card text-white bg-danger mb-2 container-fluid"  id="card">
                            <div class="row no-gutters" id="gutters">
                                <!-- <div class="col-md-2" id="card-image"> -->
                                <img src="{%static 'media/cover.jpg' %}" class="card-img-top" alt="Blog Photo" id="img"/>
                            </div>
                        


                            <!-- <div class="col-md-4"> -->
                            <div class="card-body text-wrap container-fluid col-md-4"id="cardbody">
                                <!-- insert a variable for Blog so   that the most recent blogs are shown-->
                                <a href="#"><h1 class="display-3">{{blog.author}}</h1></a>
                                <small class="text-white">{{blog.date}}</small>
                                <p class="card-text">{{blog.content}}</p>
                                  <!-- insert a variable for "" so   that the timelapmedse is shown-->
                            </div>
                        </div>
                    </div>
                    
                {%endfor %}
                


                <a class="carousel-control-prev" href="#slide" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
                <a class="carousel-control-next" href="#slide" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
                
            </div>

        </div>
        

        
    
    
        
        

    
        
        {% if user.is_authenticated%}
            <div id="sidebar" class="col-md-2 container-fluid">
                <div class="content-section float-right container-fluid">
                       
                    <p class="muted-text" id="sidebarr">
                        <ul class="list-group">
                            <small class="text-muted">
                                <li class="list-group-item list-group-item-primary"><h6 class="display-6">What you've missed</h6></li>
                                    <!-- <li class="list-group-item list-group-item-dark">Announcements</li> -->
                                    <li class="list-group-item list-group-item-warning"><a href="{% url 'people'%}">Person Complaints</a></li>
                                    <li class="list-group-item list-group-item-warning"><a href="{% url 'complaint'%}">Business Complaints</a></li>
                                    <li class="list-group-item list-group-item-warning"><a href="https://mercatuspdx.com/directory/black-owned-businesses/">BIPOC Businesses</a></li>
                            </small>
                        </ul>
                    </p>
                </div>
            </div>
            
            <!-- </div> -->
        
        {%else%}
            <div class="col-md-2 container-fluid" id="sidebar">
                <div id="sidebar" class="content-section float-right container-fluid">
                    
                    <small class="muted-text">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-primary"><h6 class="display-6">What you've missed</h6></li>

                            
                                <!-- <li class="list-group-item list-group-item-dark">Announcements</li> -->
                            <li class="list-group-item list-group-item-warning">Business Complaints</li>
                            <li class="list-group-item list-group-item-warning">BIPOC Businesses</li>
        
                        </ul>
                    </small>
                </div>
            </div>
        {%endif%}
    </div>
    
    
    <br>

{%endblock content %}