
{% extends "main_app/base.html" %}
{%load static %}


{% block content %}
    <style> 

        body {
            background-color: black;
        }
        #sidebar{
            /* margin-left: 17em;
            margin-top: -2em;
            padding-top: -3em; */
            margin-top: -2.7em;
            margin-left: 6.7em;
            padding: 0;
            margin-right: 0;

        }

        .list-group {
            padding: 0;
            margin: 0;
            
        }
        #sidebarr {
            height: 5vh;
        }
        #slide {
            /* margin-left: 1em;
            margin-right: -6em; */
            justify-content: center;
            background-color: blue;
            margin-left: 0;

        }

        img {
            width: 5vw;
            height: 35vh;
        }

        #card-image {
            background-color: blue;

            padding: 0;
            margin: 0;
            
        }

        #card-text {
            text-overflow: ellipsis;

        }

        #active {
            background-color: blue;
            padding: 0;
            margin: 0;
        }

        #gutters {
            background-color: blue;

            padding: 0;
            margin: 0;
        }

        #inner {
          
            padding: 0;
            margin: 0;


        }

        #card {
            background-color: blue;
            padding: 0;
            margin: 0;




        }
    </style>

    
    
    
    <!-- <div class="container-fluid jumbotron jumbotron-fluid" id="jumbotron">
        <div class="container-fluid">
            <h1 class="display-6">Our Mission</h1>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis incidunt, quo tempora nesciunt vero odio eum corrupti? Saepe a accusamus ducimus quae alias consectetur. Maxime amet et ipsum reiciendis temporibus?</p>
        </div>

        
    </div> -->
    <br>
    
        <!--make carousel a strip: width: 100% height: 25%-50%  -->
    <div class="row">
        <div id="slide" class="col-md-10 carousel slide "data-ride="carousel" >

            <ol class="carousel-indicators">
                <li data-target="#slide" data-slide-to="0" class="active"></li>
                <li data-target="#slide" data-slide-to="1"></li>
                <li data-target="#slide" data-slide-to="2"></li>
                <li data-target="#slide" data-slide-to="4"></li>

            </ol>


            <div class="carousel-inner" id="inner" >
                <div class="carousel-item active" id="active">
                    
           
                    
                    
                    <div class="card text-center bg-white mb-3" id="card">
                        <div class="row no-gutters" id="gutters">
                            <div class="col-md-8" id="card-image">
                                <img src="{%static 'media/cover.jpg'%}" class="d-block w-100" alt="Blog Photo" id="photo"/>
                                
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                <!-- insert a variable for Blog so   that the most recent blogs are shown-->
                                
                                  <!-- insert a variable for "" so   that the timelapmedse is shown-->
                                </div>
                            </div>
                        </div>
                
                    </div>




                    <div class="carousel-caption d-block w-100 h-50">
                        
                        <h5 class="text-white"><bold>Checkout our Team!</bold></h5>
                    </div>
                </div>





                <div class="carousel-item " id="active">
                    
           
                    
                    
                    <div class="card text-dark bg-white mb-2" id="card">
                        <div class="row no-gutters" id="gutters">
                            <div class="col-md-2" id="card-image">
                                <img src="{%static 'media/Exposing.png'%}" class="d-block w-100" alt="Blog Photo" id="photo"/>
                                    
                            </div>

                            <div class="col-md-4">
                                <div class="card-body">
                                    <!-- insert a variable for Blog so   that the most recent blogs are shown-->
                                    
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi esse officiis fuga perferendis ipsa quis in quod quasi doloremque nulla ipsum distinctio voluptates quia laboriosam delectus minus, earum, dolorum quas?</p>
                                      <!-- insert a variable for "" so   that the timelapmedse is shown-->
                                </div>
                            </div>
                        </div>
                    
                        </div>
    
    
                    
                    </div>


            <!-- change carousel items on landing page to photos and cards for the blog page -->
                <div class="carousel-item" id="active">
                    
                    <div class="card mb-2" id="card">
                        <div class="row no-gutters" id="gutters"> 
                            <div class="col-md-2" id="card-image">
                                <img src="{%static 'media/cover.jpg'%}" class="d-block w-100" alt="Blog Photo" id="photo-1"/>
                  
                            </div>

                            <div class="col-md-4">
                                <div class="card-body">
                                    <!-- insert a variable for Blog so   that the most recent blogs are shown-->
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi esse officiis fuga perferendis ipsa quis in quod quasi doloremque nulla ipsum distinctio voluptates quia laboriosam delectus minus, earum, dolorum quas?</p>
                                      <!-- insert a variable for "" so   that the timelapse is shown-->
                                </div>
                            </div>
                        </div>
                    
                    </div>


                </div>
            


                <div class="carousel-item" id="active">
                    <div class="card mb-2" id="card">
                        <div class="row no-gutters" id="gutters">
                            <div class="col-md-2" id="card-image">
                                <img src="{%static 'media/abstract.jpg'%}" class="d-block w-100" alt="Blog Photo" id="photo-1"/>
                                
                            </div>

                            <div class="col-md-4">
                                <div class="card-body">
                                    <!-- insert a variable for Blog so   that the most recent blogs are shown-->
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi esse officiis fuga perferendis ipsa quis in quod quasi doloremque nulla ipsum distinctio voluptates quia laboriosam delectus minus, earum, dolorum quas?</p>
                                      <!-- insert a variable for "" so   that the timelapse is shown-->
                                </div>
                            </div>
                        </div>
                    
                    </div>


                </div>  

            </div>
        
            <a class="carousel-control-prev" href="#slide" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#slide" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
        </div>
    
            
        


    
        
        {% if user.is_authenticated%}
                   
            <div id="sidebar" class="col-md-2">
                <div class="content-section float-right">
                       
                        <p class="muted-text" id="sidebarr">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-primary"><h6 class="display-6">What you've missed</h6></li>
                                    <!-- <li class="list-group-item list-group-item-dark">Announcements</li> -->
                                    <li class="list-group-item list-group-item-warning">Posts</li>
                                    <li class="list-group-item list-group-item-warning">Business Complaints</li>
                                    <li class="list-group-item list-group-item-warning">BIPOC Businesses</li>
        
                            </ul>
                        </p>
                </div>
            </div>

            <!-- </div> -->
        
        {%else%}
            <div class="col">
                <div id="sidebar" class="content-section">
                    <h6 class="display-6">What you've missed</h6>
                        <p class="muted-text">
                            <ul class="list-group">
                                <!-- <li class="list-group-item list-group-item-dark">Announcements</li> -->
                                <li class="list-group-item list-group-item-dark">Business Complaints</li>
                                <li class="list-group-item list-group-item-dark">BIPOC Businesses</li>
        
                            </ul>
                        </p>
                </div>
            </div>
        {%endif%}
    </div>
    
    
    <br>


    
        
    <div class="container-fluid jumbotron jumbotron-fluid text-white bg-transparent" id="jumbotron">
        <div class="container-fluid">
            <h1 class="display-6">Our Mission</h1>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis incidunt, quo tempora nesciunt vero odio eum corrupti? Saepe a accusamus ducimus quae alias consectetur. Maxime amet et ipsum reiciendis temporibus?</p>
        </div>

        
    </div>
    

{% endblock content %}