{%load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form class="container" method="POST" action="{%url 'shorturl_app: index '%"> 
        {% csrf_token%}
        <input name="old" type="text">
        

        <button type="submit">Get Link</button>
     
    </form>                <!-- <button type="submit" class="btn btn-outline-primary">Post Complaint</button> -->
    <br>  

    <div class="new">
        {% for url in data%} 
            {{url.shorturl}} - {{url.longurl}}


    </div>
        
</body>
</html>