<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for todo in todos %}
    <div>{{todo}}</div>
    {% endfor %}
    <form method="POST" action="add/"> # New line
        {% csrf_token %} # New line
        <input type="text" placeholder=":" name="new"> # New line
        <input type="hidden" name="type" value="task"> # New line
        <button>submit</button> # New line
</form> # New line
<form method="POST" action="add/"> # New line
        {% csrf_token %} # New line
        <input type="text" placeholder="-" name="new"> # New line
        <input type="hidden" name="type" value="created"> # New line
        <button>submit</button> # New line
</form> # New line
<form method="POST" action="add/"> # New line
        {% csrf_token %} # New line
        <input type="text" placeholder=")" name="new"> # New line
        <input type="hidden" name="type" value="mod"> # New line
        <button>submit</button> # New line
</form> # New line
<form method="POST" action="add/"> # New line
    {% csrf_token %} # New line
    <input type="text" placeholder=")" name="new"> # New line
    <input type="hidden" name="type" value="mod"> # New line
    <button>submit</button> # New line
</form> # New line
</body>
</html>