<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="POST" action="test/">

        {% csrf_token %}
        <input type="text" placeholder="enter url" name="new">
        <input type="hidden" name="type" value="url">
        <button>submit</button>
    </form>
    {% for url in urls %}
    <h1>{{url}}</h1>
    <div>{{url.second_code}}
    <form method="POST" action="{% url 'shortener:reverse_url' url.second_code %}">
        {% csrf_token %}
        <button>push</button>
    </form>
        
    </div>
    {% endfor %}
</body>
</html>