<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
        <!-- Fontawesom CDN -->
    <script src="https://use.fontawesome.com/0208a2bb23.js"></script>


        <!-- Bootsrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
        <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
        <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
        <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
    
    {% if title%}
    <!-- if we have a title -->
        <title>Django Blog - {{title }}</atitle>
    {%else%}
        <title>Django Blog</title>
    {%end if%}
</head> 
<!-- copy and paste code that repeated between pages s -->
<body>
    <!-- block is a section that templates can override -->
    {% block content %}
    
    
    
    
    
    
    
    {% endblock %}

</body>
</html>