<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Artist Display</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'capstone/css/song_display_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <img class="responsive-img" id="banner" src="{% static 'capstone/images/Aoede_Placeholder_Banner.png' %}"
        alt="Aoede Banner">
        <nav>
            <div class="nav-wrapper">
              <img class="brand-logo" src="{% static 'capstone/images/A.png' %}" alt="Aoede Logo">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{% url 'capstone:landing' %}">Home</a></li>
                    <li><a href="{% url 'capstone:index' %}">Input Form</a></li>
                    <li><a href="{% url 'capstone:song_browse' %}">Browse</a></li>
                </ul>
            </div>
        </nav>
    <main>
        <div id="song-info">
            <h4>{{song.song_name}}</h4>
            <h6>Artist(s): {{song.artist}}</h6>
        </div>
        </div>
        <div>
            <h5>Database Information</h5>
            <div class="row" id="tag-info">
                <p>Here's are the top songs that the Aoede community has suggested for {{ song.artist }}</p>
                    <ol>
                        {% for song in song.artist %}
                        <li>{{song.song_name}}</li>
                        {% endfor %}
                    </ol>
                <p>Want to make it better? Click <a href="{% url 'capstone:index' %}">here</a> to improve our database!</p>
            </div>

    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems, options);
    </script>

</body>

</html>