<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="index_style.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        /* * {
            outline: 3px solid red;

        } */

        body {
            background-color: darkslategray;
            font-family: 'Oxygen', sans-serif;
            color: white;
        }

        main {
            margin: 15px;
        }

        .range-field {

        }
    </style>
</head>

<body>
    <img class="responsive-img" id="banner" src="Aoede Placeholder Banner.png" alt="Aoede Banner">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="index.html" target="_blank">Input Form</a></li>
                <li><a href="search.html" target="_blank">Search</a></li>
                <li><a href="song_display.html" target="_blank">Song Display</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <h2>Song Input</h2>
        <p>Help make our Aoede database even more complete with your personal music expertise!</p>
        <form method="POST" action="{% url 'capstone:add_review' %}" class="col s12">
            {% csrf_token %}
            <h4>Song Information (Required)</h4>
            <!-- <form> -->
            <!-- <div class="input-field col s12">
                <div> -->
            <div class="input-field">
                <input name="song_name" id="song_name" type="text" class="validate">
                <label for="song_name" class="active">Song Title</label>
            </div>
            <br>
            <div class="input-field">
                <input class="" name="release_year" id="release_year" type="text" class="validate">
                <label for="release_year">Release Year</label>
            </div>
            <br>
            <div class="input-field">
                <input class="" name="artist" id="artist" type="text" class="validate">
                <label for="artist">Artist Name(s)</label>
            </div>
            <!-- </div> -->
            </div>
            <!-- </form> -->
            </div>
            <h4>Extra Information</h4>
            <p>If you'd like, rate the song above on the following musical and non-musical attributes...</p>
            <div class="row">
                <div class="input-field col s6">
                    <h5>Music Attributes</h5>
                    <h6>Genre (choose up to 3)</h6>
                    <select multiple name="genre">
                        <option value="" disabled selected>Click here</option>
                        {% for choice in choices %}
                        <option value="{{choice.id}}">{{choice.name}}</option>
                        {% endfor %}
                        
                    </select>
                    <br>
                    <p class="range-field">
                    <h6>Singability (1 = difficult, 7 = easy)</h6>
                        <ul>
                            <li>Is there a wide pitch range? Is the melody easy to follow?</li>
                        </ul>
                    <input class="form-range active" type="range" id="singability" min="1" max="7" name="singability" />
                    <span class="thumb">
                        <span class="value"></span>
                    </span>
                    <input class="form-hidden" type="hidden" id="singability2" value="false" name="singability2">
                    </p>
                    <br>
                    <p class="range-field">
                    <h6>Instrumental Playability (1 = difficult, 7 = easy)</h6>
                    <ul>
                        <li>Is the chord progression straightforward or complex?</li>
                    </ul>
                    <input class="form-range" type="range" id="playability" min="1" max="7" name="playability" />
                    <input class="form-hidden" type="hidden" id="playability2" value="false" name="playability2">
                    </p>
                    <br>
                    <p class="range-field">
                    <h6>Repetition (1 = through composed, 7 = lots of repetition)</h6>
                    <ul>
                        <li>Do parts of this song repeat a lot? Is the song really predictable?</li>
                    </ul>
                    <input class="form-range" type="range" id="repetition" min="1" max="7" name="repetition" />
                    <input class="form-hidden" type="hidden" id="repetition2" value="false" name="repetition2">
                    </p>
                    <br>
                    <p class="range-field">
                    <h6>Tempo (1 = very sloow, 7 = very fast)</h6>
                    <ul>
                        <li>How fast or slow is the song overall?</li>
                    </ul>
                    <input class="form-range" type="range" id="tempo" min="1" max="7" name="tempo" />
                    <input class="form-hidden" type="hidden" id="tempo2" value="false" name="tempo2">
                    </p>
                </div>
                <div class="input-field col s6">
                    <h5>Non-Music Attributes</h5>

                    <p class="range-field">
                    <h6>Popularity (1 = almost unknown, 7 = very popular)</h6>
                    <ul>
                        <li>Do most folks know this song or only the really dedicated fans?</li>
                    </ul>
                    <input class="form-range" type="range" id="popularity" min="1" max="7" name="popularity" />
                    <input class="form-hidden" type="hidden" id="popularity2" value="false" name="popularity2">
                    </p>
                    <br>
                    <p class="range-field">
                    <h6>Arousal (1 = very low, 7 = very high)</h6>
                    <ul>
                        <li>What's the overall energy of this song?</li>
                    </ul>
                    <input class="form-range" type="range" id="arousal" min="1" max="7" name="arousal" />
                    <input class="form-hidden" type="hidden" id="arousal2" value="false" name="arousal2">
                    </p>
                    <br>
                    <p class="range-field">
                    <h6>Emotional Valence (1 = negative, 7 = positive)</h6>
                    <ul>
                        <li>Does the song evoke generally "good" or "bad" feelings?</li>
                    </ul>
                    <input class="form-range" type="range" id="valence" min="1" max="7" name="valence" />
                    <input class="form-hidden" type="hidden" id="valence2" value="false" name="valence2">
                    </p>

                    <div class="input-field col s12">
                        <h6>If you'd like, add a comment about the song's history or cultural significance:</h6>
                        <br>
                        <div class="row">
                            <!-- <form class="col s12"> -->
                            <div class="input-field">
                                <textarea id="comment" name="comment" class="materialize-textarea"></textarea>
                                <label for="comment">Type here</label>
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
            <button type='submit'>Submit</button>

        </form>
        </div>
    </main>
    <script>
        let options = {}

        let ranges = document.querySelectorAll('.form-range')
        let hiddens = document.querySelectorAll('.form-hidden')

        for (let i = 0; i < ranges.length; i++) {
            ranges[i].onchange = function () {
                hiddens[i].value = true
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, options);
        });
    </script>
</body>

</html>