<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Aoede App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'capstone/css/landing_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">

</head>

<body>
    <img class= "responsive-img" id="banner" src="{% static 'capstone/images/Aoede_Placeholder_Banner.png' %}" alt="Aoede Banner">
    <nav>
        <div class="nav-wrapper">
          <!-- <img class="brand-logo" src="{% static 'capstone/images/A.png' %}" alt="Aoede Logo"> -->
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{% url 'capstone:landing' %}">Home</a></li>
                <li><a href="{% url 'capstone:index' %}">Input Form</a></li>
                <li><a href="{% url 'capstone:song_browse' %}">Browse</a></li>
            </ul>
        </div>
    </nav>


    <div class="row">
        <div class="col s2" id="list-card">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Ingrid Michaelson</span>

                  <ol>
                      {% for song in Ingrid %}
                      <li><a href = "{% url 'capstone:song_display' song.id %}"> {{song.song_name}} </a></li>
                      {% endfor %}
                  </ol>
                </div>
                
              </div>

              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">LoFi Hip-Hop</span>
                  <ol>
                    {% for song in LoFi %}
                    <li><a href = "{% url 'capstone:song_display' song.id %}"> {{song.song_name}} </a></li>
                    {% endfor %}
                </ol>
                </div>
               
              </div>

        </div>
        <div class="col s10">
            <div>
                <h4>What is Aoede?</h4>
                <p>
                  Music therapists need to know <i>a lot</i> of popular music...
                  <br>
                  <br>
                  Research indicates that using a client's preferred music can increase therapeutic rapport, adherence to interventions, and motivate change. But, it's a challenge for the working music therapist to keep up with their clientele's favorite music.
                  <br>
                  That's where Aoede comes in.
                  <br>
                  <br>
                  Aoede is a community database of popular music repertoire that allows music therapists to search and view popular music by artist. Each song has its own page with ratings on specific musical and non-musical qualities to makes sure you can find and learn the best repertoire to meet your client's goal.

                  Keep reading to learn more about how it works!

                </p>
            </div>
            <br>
              <div class="row" id="roles">
                <div class="col s5">
                    <img class="responsive-img square" src="{% static 'capstone/images/Contributors Placeholder.png' %}" alt="Contributors">
                    <br>
                    <!-- <h5>Help Grow Our Database</h6> -->
                    <h5>Share Your Expertise</h5>
                    <p>Share what you already know about your favorite music to help other music therapists. 
                      <br>
                      <br>
                      Simply go to our <a href="{% url 'capstone:index' %}">Input Form</a> and rate the songs you already love on their musical and non-musical qualities. Then, find your new favorite clinical song when you see what other songs and ratings other Contributers have input.</p>
                </div>
                <div class="col s5">
                    <img class= "responsive-img square"  src="{% static 'capstone/images/Explorers Placeholder.png' %}" alt="Explorers">
                    <h5>Discover New Songs</h5>
                    <p>Here's where you find the music that best fit your client's needs.
                      <br>
                      <br>
                      Start by <a href="{% url 'capstone:song_browse' %}">browsing</a> our database of artists. There, you'll find a list of the tops songs our Contributors have recommended for clinical use. Click on a song to see how Contributors rated the song on several musical and non-musical qualities so you find that perfect song for your client's goals and objectives.</p>

                </div>
                
            </div>
        </div>
    </div>

</body>

</html>