* {
    outline: 3px  solid red;
}
body {
    background-color: darkslategray;
    font-family: 'Oxygen', sans-serif;
    color: white;
}

#banner {
    /* width: 90%;
    height: 90%; */
    display: flex;
    justify-content: center;
}
.card {
    padding-top: 5px;
    padding-bottom: 5px;
}
div {
    /* padding: 10px;
    margin: 15px; */
    color: white;
}
#landing-button {

}
#roles {
    display: flex;
    justify-content: space-evenly;
}

.square {
    padding: 10px;
    width: 470px;
    height: 394px;
}