li {
    text-decoration-style: none;
    list-style: none;
    cursor: pointer;
}

.done-ul>div>li {
    text-decoration: line-through;
}

ul>div {
    display: flex;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
supported by Chrome, Edge, Opera and Firefox */
}

.close {
    color: red;
}